@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет,</h1>
    <p>это веб-приложение позволит вводить и хранить документы в базе данных PostgreSQL</a>.</p>
</div>
